body {
  background-color: #242933;
  color: #ec4c56;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

.content {
  max-width: 900px;
  padding: 0 15px;
  box-sizing: border-box;
}

.quote {
  font-size: 2.5rem;
  margin: 0 0 30px;
}

.author {
  font-size: 1.5rem;
  text-align: right;
  margin: 0;
}

@media (max-width: 992px) {
  .content {
    max-width: 700px;
  }
}

@media (max-width: 768px) {
  :root {
    font-size: 14px;
  }
  .content {
    max-width: 80%;
  }
}

@media (max-width: 600px) {
  :root {
    font-size: 12px;
  }
  .content {
    max-width: 90%;
  }
}
